<script type="text/javascript" src="/js/digger/digger.js"></script>
<div id="releases" style="display: none" class="shadow-border"></div>
<div class="singleRelease shadow-border" style="display: none"></div>
<form id="search-form" style="display: none">
  <div id="search-form-inputs" class="shadow-border">
    <p>Check information about almost any album, and visualize data about them, using the <a href="http://www.discogs.com/developers/" target="_blank">Discogs API</a> and <a href="http://d3js.org/" target="_blank">D3JS</a>.</p>
    <table>
      <tr>
        <td>Band name: </td>
        <td><input id="band-name" type="text" name="band"></td>
      </tr>
      <tr>
        <td>Album title: </td>
        <td><input id="album-name" type="text" name="album"></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Search" id="submitter" class="btn btn-primary"></td>
      </tr>
    </table>
  </div>
  <p id="validation-error-message" class="alert alert-warning" role="alert">You must enter values in the album and the band fields</p>
</form>

<script type="text/template" id="release-row">
    <div class="release-row">
      <%= title %> (genre: <%= genre %>, year: <%= typeof(year)!== 'undefined' ?  year : '-' %>, label: <%= label %>)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="release-link btn btn-default" href="#">Link</a>
    </div>
</script>
<script type="text/template" id="releases-list">
  <p><a href="" class="btn btn-info back">Back</a></p>
  <div class="releases-search-texts">
    <p>Search texts</p>
    <p>Band: <span class="search-text"><%= search_strings.band %></span></p>
    <p>Album: <span class="search-text"><%= search_strings.album %></span></p>
  </div>
  <p class="releases-results"><strong>Results:</strong> <%= result_count %> </p>
  <div class="btn-group" data-toggle="buttons" id="filtering-options">
      <p><strong>Filter</strong></p>
      <label class="btn btn-default">
        <input type="radio" id="filter-none" value="filter-none" name="filter">None
      </label>
      <label class="btn btn-default">
        <input type="radio" id="filter-band" value="filter-band" name="filter">The band appears
      </label>
      <label class="btn btn-default">
        <input type="radio" id="filter-all" value="filter-all" name="filter">The band and the album appear
      </label>
  </div>
  <p><strong>First five</strong></p>
  <ul class="list-five"></ul>
  <div style="position: relative; width: 100%">
  <div class="toggle-charts"><a class="btn btn-primary" href="">Hide charts</a></div>
  <div id="charts">
    <p><strong>Charts</strong></p>
  </div>
  </div>
  <ul class="list-rest"></ul>
  <p><a href="" class="btn btn-info back">Back</a></p>
</script>

<script type="text/template" id="release">
    <p><a href="" class="back btn btn-info">Back</a></p>
    
    <p class="title"><%= title %></p>
    <p>Artists: <%= artists[0].name %></p>
    <p>Genre: <%= genres[0] %></p>
    
    <% if (typeof(released) !== 'undefined') {%>
      <p>Year: <%= released %></p>
    <% }; %>

    <% if (typeof(country)!=='undefined') {%>
        <p>Record country: <%= country %></p>
    <% }%>
    <p>Record label: <%= labels[0].name %></p>
    <p>Record format: <%= formats[0].name %></p>
    <p class="source-link"><a href="<%= uri %>" class="btn btn-primary" target="_blank">Source link</a></p>
    
    <p class="tracklist">Tracklist</p>
    <table class="table table-striped table-bordered">
      <%= _.map(tracklist, function (track,index){
        return '<tr class="track"><td>' + (index + 1) + '</td><td>' + track.title + '</td><td>' + track.videoLink + '</td><td>' + track.lyricsLink + '</td></tr>';
      }).join("") %>
    </table>

    <% if (typeof(notes)!=='undefined') {%>
      <p class="notes">Notes</p>
      <p><%= notes.replace(/\n/, '</br>') %></p>
    <% }%>
    
    <p><a href="" class="back btn btn-info">Back</a></p>
</script>