<script type="text/javascript" src="/js/digger/digger.js"></script>
<p>This is a information seeker site for albums. Please, type the band name and the album name correctly. Then, you'll see several results depending on the source.</p>
<form>
  <p>The band:</p>
  <p><input id="band-name" type="text" name="band"></p>
  <p>The album title:</p>
  <p><input id="album-name" type="text" name="album"></p>
  <input type="submit" value="Send" id="submitter" class="btn btn-info">
</form>
<ul id="releases" style="display: none"></ul>
<div class="singleRelease" style="display: none"></div>

<script type="text/template" id="releaseRow">
    <div class="release-row">
      <%= title %> (genre: <%= genre %>, year: <%= typeof(year)!== 'undefined' ?  year : '-' %>, label: <%= label[0] %>) <a class="release-link" href="#">Link</a>
    </div>
</script>

<script type="text/template" id="release">
    <p class="title"><%= title %></p>
    <p>Artists: <%= artists[0].name %></p>
    <p>Genre: <%= genres[0] %></p>
    
    <% if (typeof(released) !== 'undefined') {%>
      <p>Year: <%= released %></p>
    <% }; %>

    <p>Record country: <%= country %></p>
    <p>Record label: <%= labels[0].name %></p>
    <p>Record format: <%= formats[0].name %></p>
    <p>Source link: <a href="<%= uri %>">···</a></p>
    <p>Tracklist:</p>
    
    <ul>
      <%= _.map(tracklist, function (track,index){return '<li>' + (index + 1) + ': ' + track.title + ' | ' + track.videoLink + ' | ' + track.lyricsLink + '</li>';}).join("") %>
      <% if (typeof(notes)!=='undefined') {%>
        <p class="notes">Notes:</p>
        <p><%= notes.replace(/\n/, '</br>') %></p>
      <% }%>
    </ul>
</script>