<script type="text/javascript" src="/js/digger/digger.js"></script>

<p>This is an information-seeker site for albums. Please, type the band name and the album name correctly. Then, you'll see several results depending on the source. It's built using <strong>Node.js</strong>, <strong>Backbone.js</strong>, <strong>D3.js</strong> and the <strong>Discogs API</strong> as main technologies.</p>

<div id="releases" style="display: none"></div>
<div class="singleRelease" style="display: none"></div>
<form id="search-form" style="display: none">
  <p id="validation-error-message" class="alert alert-warning" role="alert">You must enter values in the album and the band field</p>
  <p>The band:</p>
  <p><input id="band-name" type="text" name="band"></p>
  <p>The album title:</p>
  <p><input id="album-name" type="text" name="album"></p>
  <input type="submit" value="Search" id="submitter" class="btn btn-info">
</form>

<script type="text/template" id="release-row">
    <div class="release-row">
      <%= title %> (genre: <%= genre %>, year: <%= typeof(year)!== 'undefined' ?  year : '-' %>, label: <%= label[0] %>) <a class="release-link" href="#">Link</a>
    </div>
</script>
<script type="text/template" id="releases-list">
  <p><strong>Results:</strong> <%= result_count %> </p>
  <p><a href="" class="btn btn-default back">Back</a></p>
  <p><strong>First five:</strong></p>
  <ul class="list-five"></ul>
  <div id="charts">
    <p><strong>Charts:</strong></p>
  </div>
  <ul class="list-rest"></ul>
  <p><strong>Discogs search <a href="http://api.discogs.com" target="_blank">API</a></strong></p>
  <p><a href="" class="btn btn-default back">Back</a></p>
</script>

<script type="text/template" id="release">
    <p class="title"><%= title %></p>
    <p>Artists: <%= artists[0].name %></p>
    <p>Genre: <%= genres[0] %></p>
    
    <% if (typeof(released) !== 'undefined') {%>
      <p>Year: <%= released %></p>
    <% }; %>

    <% if (typeof(country)!=='undefined') {%>
        <p>Record country: <%= country %></p>
    <% }%>
    <p>Record label: <%= labels[0].name %></p>
    <p>Record format: <%= formats[0].name %></p>
    <p>Source link: <a href="<%= uri %>">···</a></p>
    <p>Tracklist:</p>
    
    <ul>
      <%= _.map(tracklist, function (track,index){return '<li>' + (index + 1) + ': ' + track.title + ' | ' + track.videoLink + ' | ' + track.lyricsLink + '</li>';}).join("") %>
      <% if (typeof(notes)!=='undefined') {%>
        <p class="notes">Notes:</p>
        <p><%= notes.replace(/\n/, '</br>') %></p>
      <% }%>
    </ul>
    
    <p><a href="" class="back btn btn-default">Back</a></p>
</script>